<!-- detail.ejs -->
<div class="container">
  <div class="row">
    <div class="card col-12 col-xl-3 col-lg-3 col-sm-12">
      <p class="font-weight-bold mt-2"><%= activity.name %></p>
      <img class="rounded float-left mb-3" src=<%= activity.img_url %> alt="">
    </div>
    <div class="card col-12 col-xl-9 col-lg-9 col-sm-12">
      <br><br>
      <table class="table table-bordered">
        <tr><td><%= activity.full_description %></td></tr>
        <tr><td><span class="font-weight-bold">Organizer: </span><%= activity.organizer %></td></tr>
        <tr><td><span class="font-weight-bold">Date: </span><%= activity.event_date %></td></tr>
        <tr><td><span class="font-weight-bold">Time: </span><%= activity.time %></td></tr>
        <tr><td><span class="font-weight-bold">Venue: </span><%= activity.venue %></td></tr>
        <tr><td><span class="font-weight-bold">Quota: </span><%= activity.quota %></td></tr>
      </table>
    </div>
  </div>
</div>
