<!--index.ejs-->

<% for (let i = 0; i < activities.length; i++) { %>
<div class="row">
  <div class="card col-12 col-xl-6 col-lg-6 col-sm-12 ">
    <div>
      <p class="main-title text-primary font-weight-bold mt-2">
        <%= activities[i].name %>
      </p>
      <div>
        <a href="/activity/detail/<%=typeof(loginReturn.username)=='undefined'?'anymous/':loginReturn.username+'/'%><%=activities[i].id %>">
          <img class="img-fluid img-thumbnail float-left mr-2 mb-3 w-25 h-25" src=<%=activities[i].img_url %> alt="">
        </a>
        <p class="main-describe pl-2">
          <%= activities[i].short_description %>
        </p>
      </div>
    </div>
  </div>
  <% if(i+1 < activities.length) {%>
  <div class="card col-12 col-xl-6 col-lg-6 col-sm-12 ">
    <p class="main-title text-primary font-weight-bold mt-2">
      <%= activities[i+1].name %>
    </p>
    <div>
      <a href="/activity/detail/<%=typeof(loginReturn.username)=='undefined'?'anymous/':loginReturn.username+'/'%><%=activities[i+1].id %>">
        <img class="img-fluid img-thumbnail float-left mr-2 mb-3 w-25 h-25" src=<%=activities[i+1].img_url %> alt="">
      </a>
      <p class="main-describe pl-2">
        <%= activities[i+1].short_description %>
      </p>
    </div>
  </div>
  <% i++%>
  <% };%>
</div>
<% };%>
