<!--index.ejs-->

<% for (let i = 0; i < activities.length; i++) { %>
<div class="row">
  <div class="card col-12 col-xl-6 col-lg-6 col-sm-12 ">
    <div>
      <p class="main-title text-primary font-weight-bold mt-2">
        <%= activities[i].name %>
      </p>
      <div>
        <a href="/activity/detail/<%=activities[i].id %>">
          <img class="img-fluid img-thumbnail float-left mr-2 mb-3 w-25 h-25" src=<%=activities[i].img_url
            %> alt="">
        </a>
        <p class="main-describe pl-2">
          <%= activities[i].short_description %>
        </p>
      </div>
    </div>
  </div>
  <% if(i+1 < activities.length) {%>
  <div class="card col-12 col-xl-6 col-lg-6 col-sm-12 ">
    <p class="main-title text-primary font-weight-bold mt-2">
      <%= activities[i+1].name %>
    </p>
    <div>
      <a href="/activity/detail/<%=activities[i+1].id %>">
        <img class="img-fluid img-thumbnail float-left mr-2 mb-3 w-25 h-25" src=<%=activities[i+1].img_url
          %> alt="">
      </a>
      <p class="main-describe pl-2">
        <%= activities[i+1].short_description %>
      </p>
    </div>
  </div>
  <% i++%>
  <% };%>
</div>
<% };%>



<!-- <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div03">
                                        <button class="btn btn-outline-dark" type="button" onclick="btn3Clicked(this)">I'm Button 3, Click me!</button>
                                    </div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div04">
                                        <img class="img-fluid img-thumbnail" src="http://via.placehomain-describer.com/350x150main-describec.png" />
                                    </div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div05">
                                    </div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div06"></div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div07"></div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div08"></div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div09"></div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div10"></div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div11"></div>
                                    <div class="card col-12 col-xl-3 col-lg-4 col-sm-6 " id="div12"></div> -->
<!-- <script>
      function btn1Clicked(elem) {
        console.log("console output");
        elem.innerHTML = "Don't click me!";
      };
    
      function btn2Clicked(elem) {
        elem.style = "display:none";
        elem.parent.innerHTML = "It's gone";
      }
    
      function btn3Clicked(elem) {
        elem.parent.className += "class3";
      }
    
      function pageLoad() {
        runDiv5();
        runDiv6();
        runDiv7();
        runDiv8();
        runDiv9();
        runDiv10();
        runDiv11();
        runDiv12();
      }
    
      function runDiv5() {
        if (Math.random() > 0.5) {
          document.getElementById("div05").innerHTML = "Upper";
        } else {
          document.getElementById("div05").innerHTML = "Lower";
        }
      }
    
      function runDiv6() {
        for (i = 0; i < 10; i++) {
          document.getElementById("div06").innerHTML += i + " ";
        }
      }
    
      function runDiv7() {
        var booleanVariable = true;
        var numericVariable = 12;
        var stringVariable = "Twelve"
    
        document.getElementById("div07").innerHTML = booleanVariable + " " + numericVariable + " " + stringVariable
        document.getElementById("div07").innerHTML += typeof booleanVariable + " " + typeof numericVariable
      }
    
      function runDiv8() {
        var declaredAndAssigned = "Some value";
        var declaredButNotAssigned;
        document.getElementById("div08").innerHTML = typeofmain - describeclaredAndAssigned + " " +
          declaredAndAssigned + " " + typeof notYemain - describeclared
    
        // the last two will give "umain-describefined" as its type.// the last two will give "umain-describefined" as its type.
        // if (notYemain-describeclared == 1) console.log("Reference Error");// if (notYemain-describeclared == 1) console.log("Reference Error");
        if (typeof notYemain - describeclared !== "umain-describefined") {
          if (notYemain - describeclared == 1) console.log("Reference Error");
        }
      }
    
      function runDiv9() {
        var sukiyaki = {
          beef: "2 lb",
          eggs: 4,
          crucial: "pot"
        };
        var string = "<table class='table table-striped table-hover table-bomain-describered'>";
        for (var key in sukiyaki) {
          string += "<tr><td>" + key + "</td><td> " + sukiyaki[key] + "</td></tr>";
        }
    
        // sukiyaki[key] are the values.// sukiyaki[key] are the values.
        document.getElementById("div09").innerHTML = string;
      }
    
      function runDiv10() {
        var sukiyakiParticipants = [
          "Martin", "Kenny", "Jarvis"
        ];
        var string = typeof (sukiyakiParticipants) +
          '<br><ul class="list-group">'; // Object// Object
        for (var person of sukiyakiParticipants) {
          string += "<li class = 'list-group-item'>" + person + "</li>";
        }
        string += "</ul>"
        document.getElementById(
          "div10").innerHTML = string;
      }
    
      function runDiv11() {
        var sukiyakiParticipants = ["Martin", "Kenny", "Jarvis"];
    
        function shorterThan6(value) {
          return value.length < 6;
        }
    
        var returnArray = sukiyakiParticipants.filter(shorterThan6);
        document.getElementById("div11").innerHTML = returnArray[0];
      }
    
      function runDiv12() {
        var str = "How are you doing today?";
        var res = str.split(" ");
        document.getElementById("div12").innerHTML = res[3];
      }  
    </script> -->
